h1{
	color:#669900;
	font-size: 40px;
} 
h3{
	color: blue;
    font-size: 25px;
}
body{background: rgb(2,0,36);
background: linear-gradient(201deg, rgba(2,0,36,1) 0%, rgba(245,0,23,1) 96%, rgba(255,0,22,1) 100%);} 
	#sami{
	color: red;
	font-size: 50px;
}


}

}
